<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <section>
                <div class="container my-5">
                    <div class="row">
                        <p class="fs-2">Our Services</p>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <img src="{{url_for('static',filename='resources/images/image1.jpg')}}" width="90%" height="70%">
                            <p class="fs-2">Uploaded Video</p>
                            <p class="fs-6">Perform detection by uploading a video or image</p>
                        </div>
                        <div class="col-4">
                            <img src="{{url_for('static',filename='resources/images/image2.jpg')}}" width="90%" height="70%">
                            <p class="fs-2">Search License</p>
                            <p class="fs-6">Search a specific license plate on given video </p>
                        </div>
                        <div class="col-4">
                            <img src="{{url_for('static',filename='resources/images/image3.jpg')}}" width="90%" height="70%">
                            <p class="fs-2">External Camera</p>
                            <p class="fs-6">Perform detection on live video through external camera</p>
                        </div>
                    </div>
            </section>
    </body>
</html>